sicem_user:
    resource: "@SicemUserBundle/Resources/config/routing.yml"
    prefix:   /

sicem_catalogo:
    resource: "@SicemCatalogoBundle/Resources/config/routing.yml"
    prefix:   /

app:
    resource: "@AppBundle/Controller/"
    type:     annotation

admin_area:
    resource: "@SonataAdminBundle/Resources/config/routing/sonata_admin.xml"
    prefix: /admin

_sonata_admin:
    resource: .
    type: sonata_admin
    prefix: /admin