{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <<div class="panel panel-primary box box-info center-block" style="width: 600px;">
        <div class="panel-heading box-header with-border">
            <h4 class="box-title">&nbsp&nbsp<span class="glyphicon glyphicon-lock"></span> Cambiar Password</h4>
        </div>
        <form action="{{ path('sicem_password_check') }}" class="form-horizontal" method="post">
            <div class="panel-body box-body">
                <div class="form-group">
                    <label for="oldpassword" class="col-sm-4 control-label">Password actual</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="oldpassword" name="_oldpassword" placeholder="Password" autofocus >
                    </div>
                </div>
                <div class="form-group">
                    <label for="old2password" class="col-sm-4 control-label">Confirme Password</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="old2password" name="_old2password" placeholder="Password">
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="col-sm-4 control-label">Nuevo Password</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="password" name="_password" placeholder="Password">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-10">
                        <button type="submit" class="btn btn-primary">Cambiar</button>
                    </div>
                </div>
                {% if error != '' %}
                    <div class="{{ class }}">
                        <p>
                            <strong>
                                {{ error }}
                            </strong>
                        </p>
                    </div>
                {% endif %}    
            </div>
        </form>
    </div>
{% endblock %}
